<!DOCTYPE html>
<html>
<head>
    <style>
        #errors p {
            color: red;
            font-size: 30px;
        }
    </style>
</head>
<div>
    <p>Fill in your github credentials:</p>
    <div>
        <input type="text" id="github_username" placeholder="Github username. E.g.: BazanAlexandro">
    </div>
    <div>
        <input type="text" id="github_token" placeholder="Github auth token. E.g.: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx ">
    </div>
    <button id="submit_settings">Save settings</button>
    <div id="errors" />
</div>
</body>
<script src="../scripts/options.js"></script>
</html>